/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Estilos para el elemento de entrada de búsqueda dentro del encabezado */
header input[type="search"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

/* Estilos para el logotipo */
.logo {
    display: flex;
    align-items: center;
}

/* Estilos para la imagen del logotipo */
.logo img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
}

/* Estilos para el elemento de entrada de búsqueda dentro de la barra de búsqueda */
.search-bar input[type="search"] {
    margin-left: 5px;
}

/* Estilos para las acciones del usuario */
.user-actions {
    display: flex;
    align-items: center;
}

/* Estilos para el formulario de acciones del usuario */
.user-actions form {
    margin-left: 10px;
}

/* Estilos para el cuerpo de la pagina*/
body{
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    /* Reglas de estilo específicas para pantallas más pequeñas */
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 1200px) {
    /* Reglas de estilo específicas para pantallas más grandes */
}


/* Estilos para el formulario de registro */
.registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilos para los div dentro del formulario de registro */
.registration-form div {
    width: 300px;
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Estilos para el elemento de campo */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* Estilos para las etiquetas dentro de los div del fieldset */
fieldset div label {
    display: block;
    margin: auto;
}


/* Estilos para la leyenda del fieldset */
legend {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los elementos de tipo submit (botón de envío) */
input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el hover del elemento de tipo submit */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para los elementos con la clase form-floating */
.form-floating {
    margin-bottom: 25px;
}

/* Estilos para los elementos de tipo email y password */
input[type="email"],
input[type="password"] {
    display: inline-block;
    width: 100%;
    margin-bottom: -10px;
    padding: 8px;
    font-size: 16px;
}

/* Estilos para los elementos de tipo text */
input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

/* Estilos para los elementos de nivel H6 */
h6 {
    margin: 10px;
}

/* Estilos para los enlaces de recuperación de contraseña */
h6 a {
    color: blue;
    text-decoration: underline;
}

/* Estilos para el botón de inicio de sesión */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para el pie de página */
footer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}

/* Estilos para los div dentro del pie de página */
footer div {
    margin-bottom: 10px;
}

/* Estilos para los elementos de párrafo dentro del pie de página */
footer p {
    margin: 0;
    font-size: 9px;
}

/* Estilos para los enlaces dentro del pie de página */
footer a {
    margin-right: 5px;
}

/* Estilos para las imágenes dentro del pie de página */
footer img {
    width: 20px;
    height: 20px;
}
